{% extends 'base.html' %}

{% block content %}

	<div class="jumbotron">
		<h1><center>Welcome To Minizon</center></h1>
		<h3><center><em>Every purchase sprouts something</em></center></h3>
		<div class="col-md-4 center-block">
    		<a class="btn btn-large btn-success" href="#">Learn More</a>
			<a class="btn btn-large btn-primary" href="#">Contact Us</a>
		</div>
		<br/>
		<br/>
		<br/>
		<div class="row-fluid marketing">
			<div class="span6">
				<h3>(1) One</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				<h3>(2) Two</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				<h3>(3) Three</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
			</div>
			<div class="span6">
				<h3>(4) Four</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				<h3>(5) Five</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				<h3>(6) Six</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
				</p> 
			</div>
		</div>

{% endblock %}